extends layout

block content
    h1(style="text-align:center") Facilities
    hr
    div.row(style="margin:auto;")
        div.col-md-4.col-sm-6
            a.image-link(href="Tennis/1")
                div.image-wrapper
                    div.text-wrap
                        p.booknow Book Now!
                    img.img-responsive(src="/images/tennis-courts.jpg")
            div.caption
                h4 Tennis Court
        div.col-md-4.col-sm-6
            a.image-link(href="Pool/1")
                div.image-wrapper
                    div.text-wrap
                        p.booknow Book Now!
                    img.img-responsive(src="/images/pool.jpg")
            div.caption
                h4 Pool
        div.col-md-4.col-sm-6
            a.image-link(href="Squash/1")
                div.image-wrapper
                    div.text-wrap
                        p.booknow Book Now!
                    img.img-responsive(src="/images/squash.jpg")
            div.caption
                h4 Squash Court
    div.row(style="margin:auto;")
        div.col-md-4.col-sm-6.col-md-offset-2
            a.image-link(href="Workout/1")
                div.image-wrapper
                    div.text-wrap
                        p.booknow Book Now!
                    img.img-responsive(src="/images/gym.jpg")
            div.caption
                h4 Workout Room
        div.col-md-4.col-sm-6.portfolio-item
            a.image-link(href="Spin/1")
                div.image-wrapper
                    div.text-wrap
                        p.booknow Book Now!
                    img.img-responsive(src="/images/spin.jpg")
            div(class="caption")
                h4 Spinning Room
