extends layout

block content
    p #{message}
    h1(style="text-align:center") Reset Password
    div.container(style="width:500px")
        div.jumbotron
            form(method="post")
                div.form-group
                    label Username
                    input.form-control(type="username",name="username")
                button.btn.btn-default(style="float:right") Confirm
                p(style='font-size: 100%') A new password will be emailed to your registered email address.