
extends layout

block content
    h1(style="text-align:center") Profile
    h2 Information
    table.table
        thead
            tr
                th Username
                th Card #
                th Join Date
        tr
            td #{username}
            td #{id}
            td Aug. 27th 2013
    h2 Bookings
    table.table.table-hover
        thead
            tr
                th Facility
                th Time
        tr
            td Facility 1
            td 8:30-9:30
