
extends layout

block content
    p MESSAGES: #{message}
    h1(style="text-align:center") Profile
    a(href='/users/profile') Profile 
    a(href='/timetable/facilities') Reserve Now 
    a(href='/users/signout') Logout

    h2 Information
    p.
     Name
     Email
     Edit Password

    h2 Bookings
    p Your bookings here
    p Location | Weekday | Time
 
