
extends layout

block content
    h1(style="text-align:center") Profile
    a(href='/users/login') login

    h2 Information
    p.
     Name
     User #
     Join Date

    h2 Bookings
    p Your bookings here
      
