extends layout

block content
    h1(style="text-align:center") Register
    div.container(style="width:500px")
        div.jumbotron
            form(method="post")
                div.form-group
                    label Username
                    input.form-control(type="username",name="username", required)
                div.form-group
                    label Password
                    input.form-control(type="password", name="password", required)
                div.form-group
                    label Confirm Password
                    input.form-control(type="password", name="confirmPass", required)
                div.form-group
                    label Email
                    input.form-control(type="email", name="email", required)  
                button.btn.btn-default Submit              
                a(href='/users/login', class='button btn btn-default' style='margin-left:10px') Login
            p #{message}
