body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/parks-rec.jpg");
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

.profile-booking{
    cursor: pointer; cursor: hand;
}

.legendt{
    line-height: 20px;
    height: 20px;
    width: 150px;
    margin: 3px;
}

.legend{
    position: fixed;
    top: 100;
    left: 47;
    width: 250px;
}

.nav-cal{
    width: 480px;
    margin-left: 300px;
}

.calendar{
    text-align: center;
    width: 480px;
    margin-left: 250px;
}

.day{
    float: left;
}

.timeslots{
    float: left;
}

.time{
    text-align: center;
    line-height: 20px;
    height: 20px;
    width: 50px;
    margin: 3px;
}

.day-name{
    text-align: center;
    line-height: 20px;
    height: 20px;
    width: 50px;
    margin: 3px;
}

.userbooked-time{
    background-color: #00C90D;
    border-radius: 6%;
    height: 20px;
    width: 50px;
    margin: 3px;
}

.unbookable-time{
    text-align: center;
    line-height: 22px;
    background-color: #d3d3d3;
    border-radius: 6%;
    height: 20px;
    width: 50px;
    margin: 3px;
}

.unavailable-time{
    background-color: #FF0700;
    border-radius: 6%;
    height: 20px;
    width: 50px;
    margin: 3px;
}

.available-time{
    background-color: #d3d3d3;
    border-radius: 6%;
    height: 20px;
    width: 50px;
    margin: 3px;
}

.text-wrap > .booknow {
    position: absolute;
    color:white;
    top: 50%;
    width: 100%;
}

.image-wrapper {
    position: relative;
}

.text-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.7);
    opacity:0;
    transition:.5s;
}

.image-link:hover .text-wrap {
    visibility: visible;
    opacity: 1;
    transition:.5s;
}

.caption {
    text-align: center;
}

.navbar {
    min-height: 20px;
}

.home {
    margin: auto;
    width: 60%
}

.glyphicon-big {
    font-size: 13pt;
    margin-top: 2px;
  }
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.rec {
   padding-bottom: 15px;
}

.glyphicon-big {
    font-size: 13pt;
    margin-top: 2px;
  }

